{% extends "index.html" %}

{% block index %}


{% for Listar_stock in Listar_stock %}
                {% if Listar_stock.camioneta_ID_Producto == ID_camio %}
                <div class="card" style="width: 18rem; margin-left: 30px; margin-top: 10px;">
                  <div class="card-body">
                      <h3 class="card-title">{{Listar_stock.name}}</h3>
                      <div class="d-flex align-items-center justify-content-between">
                          <a href="#" class="btn btn-secondary">-</a>
                          <h3 class="card-title">{{Listar_stock.cantidad}}</h3>
                          <a href="#" class="btn btn-secondary">+</a>
                      </div>
                  </div>
              </div>
              
               {% endif %}
  {% endfor %}
{% endblock %}