{% extends "index.html" %}

{% block index %}


{% for Listar_stock in Listar_stock %}
                {% if Listar_stock.camioneta_ID_Producto == ID_camio %}
                <div class="card" style="width: 18rem; margin-left: 30px; margin-top: 10px;">
                  <div class="card-body">
                      <h3 class="card-title">{{Listar_stock.name}}</h3>
                      <form method="POST" action="{% url 'update_quantity' Listar_stock.camioneta_ID_Producto %}">
                        {% csrf_token %}
                        <button type="submit" name="change" value="-1" class="btn btn-secondary">-</button>
                        <h3 class="card-title">{{ Listar_stock.cantidad }}</h3>
                        <button type="submit" name="change" value="1" class="btn btn-secondary">+</button>
                    </form>
                    
                  </div>
              </div>
              
               {% endif %}
  {% endfor %}
{% endblock %}